body{
    background: url("wp5.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

.container{
    width: 800px;
    height: 350px;
    margin-top: 65px;
    margin-left: 250px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    color: white;
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
    text-align: left;
    
    
}